
/* Web Fonts */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */


* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    text-align: center;
    color: #707070;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

main {
    padding: 0 20px;
}

footer {
    padding: 20px 20px;
    background-color: rgb(250, 250, 250);
}

a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 2.8em 0;
}

h4 {
    font-weight: 900;
    padding: 0;
    margin: 0;
}

footer {
    color: #909090;
}

/* Layout Styles */

.container {
    font-weight: bolder;
}

.name {
    font-size: 1.6em;
}

.intro {
    margin-top: 50px;
    color: #909090;
}

.intro img {
    width: 75%;
}

main img {
    width: 100%;
}

.main-header {
    padding: 1em 1em;
    background-color: rgb(250, 250, 250);
}

.main-nav a{
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
}

.main-nav li {
    background-color: #fff;
    padding: 5px;
    margin: 5px 10px;
}

.bottom-name {
    float: left;
}

.top {
    text-transform: uppercase;
    float: right;
}

.bottom-nav {
    padding: 10px;
    font-weight: 900;
}

.bottom-nav-li{
    display: none;
}

.main-content {
    background-color: #fff;
}

.phone,
.email {
    font-weight: 900;
}

footer a {
    color: #707070;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    .main-nav li {
        background-color: rgb(250, 250, 250);
        padding: 5px;
        margin: 5px 10px;
        display: inline-block;
    }

    .intro {
        margin-bottom: 3em;
    }

    .intro p {
        float: left;
        width: 55%;
        
    }

    .intro img {
        float: right;
        width: 40%;
        margin-left: 10px;
    }

    .mobile-only {
        display: none;
    }

    .bottom-nav-li {
        display: inline;
    }

    .bottom-nav-li li{
        text-transform: uppercase;
        float: left;
        padding: 0;
        margin: 0 10px;
    } 

    .top {
        margin: 0;
        padding: 0;
    }

    .main-content{
        width: 100%;
        margin: 0 auto;
    }

    .col {
        float: left;
    }

    .main-sub {
        width: 50%;
        padding: 0 1em;
    }

    .article-wrap{
        display: flex;
        flex-wrap: wrap;
    }



}

@media (min-width: 1024px) {

    body {
        background-color: rgb(250, 250, 250);
    } 

    .name {
        float: left;
    }

    .main-nav {
        float: right;
    }

    .main-nav li {
        background-color: rgb(250, 250, 250);
        padding: 5px;
        margin: 5px 10px;
        display: inline-block;
    }

    .intro img {
        width: 40%;
    }

    .intro p {
        text-align: left;
        font-size: 1.3em;
    }

    footer p {
        font-size: 1.3em;
        padding: 0 10em;
    }

    .main-sub {
        width: 33.3%;
    }


}


/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}